---
import Layout from "../layouts/Layout.astro";
import PlaylistTable from "../components/PlaylistTable.astro";
import SpotifyHeader from "../components/SpotifyHeader.astro";
// import ProfileCard from "../components/ProfileCard.astro";
const token = Astro.cookies.get("accessToken")?.value;
---

<Layout title="Spotify Survey" />
<main>
  <SpotifyHeader isLogin={true} />
  <div class="container mx-auto">
    <!-- <ProfileCard title="Spotify" body="The best music app" href="/spotify" /> -->
    <!-- <PlaylistTable token={token} /> -->
  </div>
</main>
