---
import Layout from "../layouts/Layout.astro";
import SpotifyHeader from "../components/SpotifyHeader.astro";
---

<Layout title="Spotify Survey App" />
<main>
  <SpotifyHeader isLogin={false} />
  <div class="flex items-center justify-center h-[calc(100vh-5rem)]">
    <div
      class="flex flex-col overflow-hidden rounded-md shadow-lg shadow-neutral-900 z-20 md:flex-row md:flex-1 lg:max-w-screen-md"
    >
      <div class="px-6 py-6 bg-neutral-900/90">
        <div class="mb-3 text-center">
          <span
            class="icon-[logos--spotify-icon] text-5xl"
            role="img"
            aria-hidden="true"></span>
        </div>
        <h1 class="text-3xl font-bold text-center my-3">
          <span class="text-green-500">Spotify</span> Survey App
        </h1>
        <p
          class="font-normal text-neutral-300 leading-relaxed tracking-wide md:mt-0"
        >
          This app lets you and your friends collaborate on Spotify playlists to
          choose the ultimate song selection. <br />
          Here's how it works:
          <ol class="list-decimal list-inside">
            <li>Connect with your Spotify account.</li>
            <li>
              Choose playlists you share with friends and cast your votes for
              the best tracks.
            </li>
            <li>
              Discover everyone's favorites and create playlists you'll all
              love.
            </li>
          </ol>
          <br />To use this app you need a Spotify Client ID. You get that by
          creating an app in the Spotify developers dashboard here <a
            href="https://developer.spotify.com/dashboard/applications"
            class="underline hover:text-green-500 transition-colors duration-300"
            >https://developer.spotify.com/dashboard/applications</a
          >
          and add https://localhost:4321/playlists in the "Redirect URIs" settings
          field.
        </p>
        <div class="flex items-center justify-center mt-4">
          <a
            href="/login"
            class="inline-block w-full sm:w-auto px-6 py-3 text-lg font-semibold text-white transition-colors duration-300 ease-in-out bg-green-500 rounded-md shadow-lg hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
          >
            Get Started!
          </a>
        </div>
      </div>
    </div>
  </div>

  <div id="svg-background"></div>
  <style>
    #svg-background {
      width: 100vh;
      height: 100vh;
      bottom: -200px;
      left: -200px;
      position: fixed;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill-opacity='0.15' width='128' height='128' viewBox='0 0 256 256'%3E%3Cpath fill='%231ED760' d='M128 0C57.308 0 0 57.309 0 128c0 70.696 57.309 128 128 128c70.697 0 128-57.304 128-128C256 57.314 198.697.007 127.998.007zm58.699 184.614c-2.293 3.76-7.215 4.952-10.975 2.644c-30.053-18.357-67.885-22.515-112.44-12.335a7.981 7.981 0 0 1-9.552-6.007a7.968 7.968 0 0 1 6-9.553c48.76-11.14 90.583-6.344 124.323 14.276c3.76 2.308 4.952 7.215 2.644 10.975m15.667-34.853c-2.89 4.695-9.034 6.178-13.726 3.289c-34.406-21.148-86.853-27.273-127.548-14.92c-5.278 1.594-10.852-1.38-12.454-6.649c-1.59-5.278 1.386-10.842 6.655-12.446c46.485-14.106 104.275-7.273 143.787 17.007c4.692 2.89 6.175 9.034 3.286 13.72zm1.345-36.293C162.457 88.964 94.394 86.71 55.007 98.666c-6.325 1.918-13.014-1.653-14.93-7.978c-1.917-6.328 1.65-13.012 7.98-14.935C93.27 62.027 168.434 64.68 215.929 92.876c5.702 3.376 7.566 10.724 4.188 16.405c-3.362 5.69-10.73 7.565-16.4 4.187z'/%3E%3C/svg%3E");
      background-size: cover;
      z-index: 10;
    }
  </style>
</main>
