---
const { isLogin } = Astro.props
---

<header class="sticky top-0 z-20 border-b-2 border-b-green-500 bg-black/90 px-6 py-4">
	<div class="align-items-center flex items-center justify-between">
		<span class="icon-[logos--spotify] text-4xl" role="img" aria-hidden="true"></span>
		{
			isLogin && (
				<div>
					<button class="flex w-full items-center gap-x-3 rounded-full bg-neutral-600 px-2 py-2 text-white">
						<img
							class="h-6 w-6 rounded-full"
							src="https://i.scdn.co/image/ab6775700000ee85b941bb276ca8789a96c0162c"
							alt="avatar"
						/>
						<span class="mr-2 font-bold">Betox</span>
						<span class="icon-[ls--dropdown] text-xs" role="img" aria-hidden="true" />
					</button>
				</div>
			)
		}
	</div>
</header>
